/* @override 
	http://localhost/px/public_html/css/cardui.css
	http://www.servicepoint.online/css/cardui.css */

@charset "UTF-8";
/* CSS Document */

/* @group message boxes */

.info, .alert, .warning {
	background-color: white;
	margin: 10px 10px 5px;
	padding: 10px;
	color: black;
	text-align: left;
}

.info {
	border-left: 5px solid green;
}

.alert {
	border-left: 5px solid orange;
}
.warning {
	border-left: 5px solid #B10007;
}

/* @end */

.cards {
	width:100%;
	position: relative;
	display: inline-block;
	height: 100%;
	clear: both;
}
.card {
	position: relative;
	display:inline-block;
	width: 200px;
	height: 250px;
	margin: 10px;
	padding: 10px;
	/*-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);*/
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);*/
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	opacity: 1;
	text-decoration:none;
	border: 1px solid white;
	float: left;
	background-color: white;
}

.card:hover {
	border: 1px solid orange;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	transition: border 0.5s;
	transition: box-shadow 0.5s;
}

.cardImg img{
	width:100%;
}

.cardTitle {
	position:relative;
	padding-top: 5px;
	font: 12pt lato;
	font-style: normal;
	font-weight: 400;
	color: rgba(255,166,0,1.00);
	text-decoration:none;
}
.cardDate {
	bottom: 10px;
	position: absolute;
	font: 10pt lato;
	font-style: normal;
	font-weight: 400;
	color: silver;
}
.cardItems {
	bottom: 10px;
	right: 10px;
	position: absolute;
	font: 10pt lato;
	font-style: normal;
	font-weight: 400;
	color: silver;
}
.cardDescription {
	position:relative;
	top: 10px;
	font: 10pt lato;
	font-style: normal;
	font-weight: 400;
	color: gray;
	text-decoration:none;
}

div.cards a {
	text-decoration: none;
}