@charset "UTF-8";
/* CSS Document */

#navigation {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	padding-bottom: 2px;
	padding-top: 2px;
}


#navigation ul, #navigation ul li a {
	list-style-image: none;
	list-style-type: none;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	padding-top: 16px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.headertable #navigation a:hover {
	background-color: #5C75AA;
}
body {
	margin: 0px;
}

#navigation ul li {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	display: inline;
	list-style-image: none;
	list-style-type: none;
	color: #FFFFFF;
	background-color: #0054A6;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-indent: 0px;
	list-style-type: none;
	position: static;
}

.navlink, .navlink li{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	display: inline;
	list-style-image: none;
	list-style-type: none;
	background-color: #FFFFFF;
	color: #333333;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 0px;
	margin-left: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333333;
	font-weight: bold;
}
.servicename {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #0000CC;
	margin: 10px;
	padding: 10px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
#requests, #logo {
	border: 1px solid #CCCCCC;
	margin: 10px;
	padding: 10px;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #0054a6;
	text-decoration: none;
}
.requestline, .requestline a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	margin: 2px;
	padding: 2px;
}

.requestline a {
	background-image: url(../../Images/dot.png);
	background-repeat: no-repeat;
	background-position: 1px;
	padding-left: 20px;

}

.navlink           a             {
	text-decoration: none;
	color: #666666;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.navlink  a:hover {
	background-color: #5C75AA;
	color: #FFFFFF;
}

/* footer */
#footer {
	height:50px;
	margin:0 auto;
	padding:10px;
	text-align:center;
	width:960px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-decoration: none;
}
#footer p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #0054a6;
}
#footer a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #0054A6;
	text-decoration: none;
}

#groups h1 {
	font-size: 10pt;
}

#applications h1 {
	font-size: 10pt;
}

#Footer li {
	list-style-type: none;
	list-style-position: inside;
	vertical-align: baseline;
	text-align: left;
	display: inline;
	white-space: nowrap;
	padding-right: 10px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	color: #FFFFFF;
	text-indent: 0px;
	text-decoration: none;
}
#Footer ul {
	background-color: #2A62B2;
	padding: 5px;
}

#Footer li a {
	text-decoration:none;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	margin: 0.5em;
	padding: 0.5em;
}


#Navigation {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #2A62B2;
	padding: 0.5em;
}

#Navigation ul {
	display:inline;
	list-style-type:none;
}

#Navigation ul li {
	list-style-type: none;
	list-style-position: inside;
	vertical-align: baseline;
	text-align: left;
	display: inline;
	white-space: nowrap;
	padding-right: 10px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	color: #333333;
	text-indent: 0px;
	text-decoration: none;
	padding-top: 5px;
}

#Navigation ul li a {
	text-decoration:none;
}


.ServiceLine {
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #0054a6;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	margin: 0px;
}
.SidebarList {
	list-style-type: none;
	list-style-position: inside;
	list-style-image: none;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #999999;
	border-bottom-color: #999999;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #EEEEEE;
}
#SideBar, #SideBarNavigation, #IT_Requests ul, #Information ul {
	background-colour: #E9E9E9;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding-right: 0px;
}
#ServiceItems, #ServiceItems td  {
	border: 1px solid #CCCCCC;
}
#Title td {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #009933;
	padding-top: 0.5em;
	padding-bottom: .5em;
}
#SideBar a {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #003399;
	font-size: 10pt;
}
ul.SiderBarMenu, ul.SideBarMenu ul {
	width: 200px;
	border: 1px solid #000000;
	cursor: default;
	margin-left: 0px;
	background-color: #8aa;
	position: relative;
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0.6em;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
ul.SideBarMenu li, IT_Requests ul li {
	list-style-type: none;
	color: #0066CC;
	padding: 0.25em;
	position: relative;
	display: block;
	text-decoration:none;
	background-image: url(../../Images/ServiceStrip-Background.png);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

/*
ul.SideBarMenu li a, #Information a {
	color: #0066CC;
	display: block;
	text-decoration: none;
	padding: 0.5em;
}
*/

.PDF {
	background-image: url(../../Images/Icon_pdf.gif);
	background-repeat: no-repeat;
	background-position: left;
	text-indent: 20px;
}
.Link {
	background-image: url(../../Images/LinkArrowSmall.png);
	background-repeat: no-repeat;
	background-position: left;
	text-indent: 20px;
}

ul.SideBarMenu ul.CSStoShow {
	display: block;
}
ul.SideBarMenu li a:hover, ul.SideBarMenu li a.CSStoHighlink {
	color: #000000;
	background-image: url(../../Images/ServiceStrip-Background-Highlight.png);
	cursor: default;
	text-decoration: underline;
}

ul.SideBarMenu li:hover > a {
	color: #000000;
}
ul.SideBarMenu li > ul {
	display: none;
	position:absolute;
	top:2px;
	left:200px;
}
.ServiceCat {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	text-decoration: none;
	text-align: right;
}
ul.SideBarMenu li:hover > ul {
	display: block;
	background-color: #999999;
}
ul.SideBarMenu li:hover, ul.SideBarMenu li.CSStoHighlight {
	color: 000;
	background-color: ffa;
}
.ServiceLineDescription, #Welcome p, #Title p, #ServiceDescription p, #ServiceResponsibilities p, #ServiceSupport p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 8pt;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	padding: 0px;
	padding-top: 10px;
	margin: 0px;
	display: inline;
}

.message {
	border: 1px solid #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color:#666666;
}

.message, .tags, .msg {
	margin: 10px;
	padding: 10px;
	
}
.message p, .tags p, .msg p, #requests p a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	
	color: #000099;
}
.message h2, .tags h2, .msg h2 {
	color: #0033CC;
	font-size: 10pt;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

.tags {
	background-image: url(../../Images/tag.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left: 25px;
}

.tags p {
	margin: 0px;
	padding: 0px;
}


#Welcome    p, #ServiceDescription, #ServiceResponsibilities, #ServiceSupport   {
	background-image: url(../../Images/ServiceStrip-Background-Highlight.png);
	border: 1px solid #CCCCCC;
	padding: 0.5em;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 10px;
}

#GreenBackground {
	background-image:url(../../Images/GreenBackground.png);

}

#Title   a  {
	text-decoration: none;
}
#LeftCol {
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #CCCCCC;
}
.SidebarTitle {
	font-family: Arial, Helvetica, sans-serif;
	color: #0033FF;
	font-size: 12pt;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #00CC00;
}
.ServiceDescription   {
	background-color: #FFFFCC;
	padding: 5px;
	border: 1px solid #666666;
}
.navi {
	list-style-type: none;
	list-style-position: inside;
	vertical-align: baseline;
	text-align: left;
	display: inline;
	white-space: nowrap;
	padding-right: 10px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	color: #333333;
	text-indent: 0px;
	text-decoration: none;
}
.IST_Title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color: #666666;
	font-style: normal;
	font-weight: normal;
	padding: 0px;
	margin: 0.5em;
}
.ServiceStrip {
	padding: 5px;
	padding-top: 0px;
	padding-bottom:0px;
	margin: 0em;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EEEEEE;
	border-bottom-width: 1px;
	border-bottom-style:solid;
	border-bottom-color: #FFFFFF;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #666666;
}
.ServiceStrip:hover     {
	margin: 15px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #00CC00;
	border-bottom-width: 1px;
	border-bottom-style:solid;
	border-bottom-color: #00CC00;
}
#ServiceStatus  p, #SideBar p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #999999;
	text-decoration: none;
	text-align: left;
}
#ServiceStatus li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #009900;
	text-decoration: none;
	padding: 2px;
	margin: 2px;
	background-image: url(../../Images/LinkArrowSmall.png);
	background-repeat: no-repeat;
	background-position: left;
	list-style-type: none;
	display: block;
	text-indent: 20px;
}
#ServiceStatus  li  a {
	text-decoration: none;
	color: #009900;
}

.ServiceOption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #AAAAAA;
	margin: 0px;
	padding: 0px;
}
.icon {
	padding-right: 10px;
}

.ServiceOptionTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color:#777777;
	padding:0;
	border:0;
	margin: 0px;
	font-weight: bold;
}

#breadcrumbs, #breadcrumbs a {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:9pt;
	color:#CCCCCC;
	text-decoration: none;	
}
#account p, #account a, #search p, #search a {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	text-align: right;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	margin: 0px;
	display: inline;
}
.headertable {
	padding: 0px;
	height: 40px;
}
.headertable #account p {
	margin: 0px;
	padding: 0px;
}

.greybackground {
	background-image:url(../../Images/backgroundgrey.png);
	background-repeat: repeat-x; 
}
.edit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #666666;
	text-decoration: none;
	
}
.edit a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #666666;
	text-decoration: none;
	background-image: url(../../Images/edit.png);
	background-repeat: no-repeat;
	background-position: 1px;
	padding-left: 20px;
}

.quadrant {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
#login, #signupform {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	margin: 10px;
	padding: 10px;
}
.tb   {
	border: 1px solid #CCCCCC;
}
#suggest {
	left:auto;
	top: 40px;
	display: none;
	background-color: #FFFFFF;
	border: 1px solid #0054A6;
	position: absolute;
}
.tag {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #666666;
	text-decoration: none;
}

#tagedit, #addmessage, #addfortune, #addrequest, #addquestion {
	display:none;
	position:relative;
}

#tagform {
	background-color: #5C75AA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
}
.suggestions {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-color:#0054A6;
	display: block;
	padding: 5px;
}
#searchresults, .searchresults a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	color: #0054A6;
	text-decoration:none;
	margin: 0px;
	padding: 0px;
}

.searchresultline, .searchresultline a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	color: #0054A6;
	text-decoration:none;
	margin: 0px;
	padding: 0px;
}

#searchresults h2{
	margin:0;
	padding:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	color: #FFFFFF;
}
.servicestrip {
	background-color: #EEEEEE;
}.servicestrip img {
	padding: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.servicestrip  p, .servicestrip a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	margin: 0px;
	padding: 5px;
	color: #666666;
	text-decoration: none;
}
.servicestrip h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: 0054a6;
	font-size: 11pt;
	font-weight: normal;
	margin: 0px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.normal, .normal td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #666666;
	text-decoration: none;
}

.underlinedcell {
	border-bottom-color:#0054a6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin: 2px;
	padding: 2px;
}
.tablecell {
	margin: 5px;
	padding:5px;
}

#information a {
	background-image: url(../../Images/pdf.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	text-indent: 20px;
}

.questionline {
	font-size:8pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}