/* @override http://localhost/px/public_html/css/layout.css */

/* CSS Document */

div.topmenu {
	display: block;
	background-color: rgba(0,74,128,1.00);
	height: 50px;
	position: relative;
}

div.title {
	display: inline;
	width: 100%;
	position: absolute;
	top: 4px;
	left: 256px;
	font-family: lato;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	font-style: normal;
	font-weight: 300;
}
html ,body{
	margin-left: 0;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: 100%;
	position: relative;
}

div.hotdogmenu {
	width: 50px;
	height: 50px;
	position: relative;
	display: table-cell;
	left: 0;
	top: 0;
	vertical-align: middle;
	border-right: 1px solid rgba(255,255,255,1.00);
}
.hotdogmenu img  {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}

div.user {
	position: absolute;
	top: 0;
	right: 0;
	font-family: lato;
	color: white;
	height: 32px;
	padding-top: 4px;
	padding-right: 10px;
	display: inline;
	font-style: normal;
	font-weight: 300;
}
div.help {
	position: absolute;
	height: 50px;
	width: 50px;
	top: 0px;
	right: 160px;
	border-width: 1px;
	border-color: white;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	color: white;
	text-align: center;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
div.help p {
}
div.productname {
	font-family: lato;
	color: white;
	position: absolute;
	left: 50px;
	height: 50px;
	display: table-cell;
	font-style: normal;
	font-weight: 300;
	width: 200px;
	text-decoration: none;
	font-size: 18pt;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid rgba(255,255,255,1.00);
}
div.productname p {
	vertical-align: middle;
	margin-top: 8px;
}
div.title p {
	margin-top: 8px;
}
div.user p {
	margin-top: 8px;
}
div.sidebar {
	background-color: rgba(95,95,95,1.00);
	width: 250px;
	color: rgba(255,255,255,1.00);
	text-align: center;
	font-family: lato;
	font-style: normal;
	font-weight: 400;
	height: 100%;
}
div.page {
	position: relative;
	width: 100%;
	height: 100%;
}
