/* @override http://localhost/px/public_html/css/layout.css
	http://www.servicepoint.online/css/layout.css */

/* CSS Document */

html ,body{
	margin-left: 0;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: 100%;
	position: relative;
}

div.page {
	position: relative;
	width: 100%;
	height: 100%;
}

/* @group Header */

div.topmenu {
	display: block;
	background-color: rgba(0,74,128,1.00);
	height: 50px;
	position: relative;
}

div.title {
	display: inline;
	width: auto;
	position: absolute;
	top: 8px;
	left: 256px;
	font-family: lato;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	font-style: normal;
	font-weight: 300;
}
div.hotdogmenu {
	width: 50px;
	height: 50px;
	position: relative;
	display: table-cell;
	left: 0;
	top: 0;
	vertical-align: middle;
	border-right: 1px solid rgba(255,255,255,0.50);
}
.hotdogmenu img  {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}

/* @group User Login */

.user {
	font-family: lato;
	color: white;
	height: 50px;
	padding-top: 4px;
	padding-right: 20px;
	display: inline;
	font-style: normal;
	font-weight: 300;
	text-decoration:none;
	position: absolute;
	top: 0px;
	right: 0px;
}

.user p {
	margin-top: 8px;
}

.user p a {
	position: absolute;
	color: white;
	text-decoration: none;
	right: 100px;
}

.username {
	display: block;
	position: absolute;
	top: 0px;
	right: 10px;
	background:yellow;
	margin-top: 8px;
}
.username a {
	position: absolute;
	right: 0px;
	color: white;
	text-decoration: none;
	font-family: lato;
	font-weight: 300;
	padding-top: 4px;
}

/* @end */


.help {
	position: absolute;
	height: 50px;
	width: 50px;
	top: 0px;
	right: 160px;
	border-width: 1px;
	border-color: white;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	color: white;
	text-align: center;
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.help p {
}

/* @group Product Name */

.productname {
	font-family: lato;
	color: white;
	position: absolute;
	left: 50px;
	height: 50px;
	display: table-cell;
	font-style: normal;
	font-weight: 300;
	width: 200px;
	text-decoration: none;
	font-size: 18pt;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid rgba(255, 255, 255, 0.51);
}
.productname p {
	vertical-align: middle;
	margin-top: 8px;
}

/* @end */

.title p {
	margin-top: 8px;
}
/* @end */

.container {
	margin: 0;
	/*padding: 0;*/
	width:100%;
	position: relative;
	height: 100%;
	padding: 0;
	position: relative;
	top: 0;
}
/* @group Footer
 */

/* footer */
.footer {
	height: 30px;
	margin:0px; auto;
	padding: 0;
	text-align:center;
	width:100%;
	font-family: lato;
	font-weight: 300;
	font-size: 10pt;
	text-decoration: none;
	position: absolute;
	left:0;
	background: rgba(255, 255, 255, 0.5);
	clear: both;
	bottom: 0;
}
.footer p {
	color: #0054a6;
	margin: 5px;
	padding: 0px;
}
.footer a {
	color: #0054A6;
	text-decoration: none;
}

/* @end */

/* @group Navigation */
.page {
	position: relative;
	width: 100%;
	height: 100%;
}
.nav {
	background-color: hsl(0, 0%, 97%);
	height: 50px;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
}
.nav ul{
	padding-top: 13px;
	padding-left: 10px;
}

.nav ul li {
	/*width: 200px;*/
	display: inline-block;
	/*background: red;*/
	font: 11pt lato;
	font-weight: 300;
	margin-right: 0;
	margin-left: 0;
	padding-right: 5px;
	padding-left: 5px;
}
.nav ul li a {
	text-decoration: none;
	color: black;
	display: block;
}

/* @end */

/* @group Fortune */

.fortune {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding-bottom: 20px;
	font-family: lato;
	font-size: 14pt;
	font-weight: 300;
}
.fortune em {
	font-size: 10pt;
	font-weight: 400;
}
.fortune p {
	margin: 10px;
}

/* @end */

/* @group MOTD */

.motd {
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 20px;
	font-size: 10pt;
	font-weight: 400;
}

.motd h2 {
	margin: 0px;
	padding-top: 10px;;
	font-family: lato;
	font-weight: 300;
	font-size: 14pt;
	height: 40px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* @end */
.two_column {
	position: relative;
	background-color: #f3f3f3;
	top: 0;
	right: 0;
	height: 100%;
	margin-left: 250px;
	width: auto;
}

.sidebarcontent {
	/*margin-top: 50px;;*/
	color: rgba(255,255,255,1.00);
	text-align: center;
	font-family: lato;
	font-style: normal;
	font-weight: 400;	
	position: relative;
}

/* @group Sidebar */

.sidebar {
	background-color: rgba(95,95,95,1.00);
	width: 250px;
	position: absolute;
	top: 0;
	margin-top: 0px;
	height: 100%;
	z-index: -1;
}

/* @end */

