/* @override 
	http://192.168.21.21/CSS/core.css */

/* @group Basic */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	background:#E9E9E9;
}
.box {
	border: 2px solid silver;
	margin: 5px;
	padding: 5px;
	background:#FFFFFF;
}
.header {
	background-color: orange;
	padding: 5px;
	color: white;
	font: 11pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


/* @end *//* CSS Document */

.sidebar {
	margin: 10px;
	padding: 10px;
	width: 300px;
	display: inline;
	float:left;
}
.sidebar ul li a {
	
}
.sidebar ul li {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 10pt;
}

.content {
}
